---

version: "v-{build}"

image: Visual Studio 2017

clone_folder: C:\projects\deps.clj

environment:
  GRAALVM_HOME: C:\projects\deps.clj\graalvm\graalvm-ce-java11-20.3.0

  matrix:
    - JDK: 1.8
      grp: test
      JAVA_HOME: C:\Program Files\Java\jdk1.8.0
    - JDK: 11
      grp: test
      JAVA_HOME: C:\Program Files\Java\jdk11
    - JDK: 17
      grp: test
      JAVA_HOME: C:\Program Files\Java\jdk17
    - JDK: GraalVM      

cache:
  - C:\ProgramData\chocolatey\lib -> project.clj, appveyor.yml
  - '%USERPROFILE%\.m2 -> project.clj'
  - 'graalvm -> appveyor.yml'
  - '%USERPROFILE%\Documents\WindowsPowerShell\Modules -> appveyor.yml'

install:
  - cmd: >-
      powershell -Command "if (Test-Path('bb.exe')) { return } else { (New-Object Net.WebClient).DownloadFile('https://github.com/babashka/babashka/releases/download/v0.9.162/babashka-0.9.162-windows-amd64.zip', 'bb.zip') }"

      powershell -Command "if (Test-Path('bb.exe')) { return } else { Expand-Archive bb.zip . }"

for:
  -
    matrix:
      only:
        - grp: test

    build_script:
    - ps: >-
        if (Test-Path("$Env:USERPROFILE\Documents\WindowsPowerShell\Modules\ClojureTools"))
        { return }
        else
        { echo "1" | powershell -noprofile -command "Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://download.clojure.org/install/win-install-1.11.1.1165.ps1')" }

    test_script:
    - cmd: >-
        echo :JAVA_HOME %JAVA_HOME%
        
        SET PATH=%JAVA_HOME%\bin;%PATH%

        bb jvm-test

        bb babashka-test
        
  -
    matrix:
      only:
        - JDK: GraalVM
            
    build_script:
    - cmd: >-
        powershell -Command "(New-Object Net.WebClient).DownloadFile('https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein.bat', 'lein.bat')"

        call lein self-install

    - cmd: >-
        call lein do clean, uberjar

        set /P DEPS_CLJ_VERSION=< resources\DEPS_CLJ_VERSION

        call java -jar "target/deps.clj-%DEPS_CLJ_VERSION%-standalone.jar" "-Sverbose" "-Spath"

    - cmd: >-
        call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"

        powershell -Command "if (Test-Path('graalvm')) { return } else { (New-Object Net.WebClient).DownloadFile('https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.3.0/graalvm-ce-java11-windows-amd64-20.3.0.zip', 'graalvm.zip') }"

        powershell -Command "if (Test-Path('graalvm')) { return } else { Expand-Archive graalvm.zip graalvm }"

        %GRAALVM_HOME%\bin\gu.cmd install native-image

        bb compile

    test_script:
    - cmd: >-
        bb exe-test

    artifacts:
      - path: deps.clj-*-windows-amd64.zip
        name: deps.exe
