---

version: "v-{build}"

image: Visual Studio 2015

clone_folder: C:\projects\deps.clj

environment:
  GRAALVM_HOME: C:\projects\deps.clj\graalvm\graalvm-ce-java8-19.3.0.2
  DEPS_CLJ_TOOLS_CP: C:\ProgramData\ClojureTools\clojure-tools-1.10.1.492.jar

cache:
  - C:\ProgramData\chocolatey\lib -> project.clj, appveyor.yml
  - '%USERPROFILE%\.m2 -> project.clj'
  - 'graalvm -> appveyor.yml'

build_script:
- cmd: >-
    powershell -Command "(New-Object Net.WebClient).DownloadFile('https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein.bat', 'lein.bat')"

    call lein self-install

- cmd: >-
    powershell -Command "(New-Object Net.WebClient).DownloadFile('https://download.clojure.org/install/clojure-tools-1.10.1.492.zip', 'clojure-tools.zip')"

    powershell -Command "Expand-Archive -Path clojure-tools.zip -DestinationPath c:\ProgramData

- cmd: >-
    call lein do clean, uberjar

    set /P DEPS_CLJ_VERSION=< resources\DEPS_CLJ_VERSION

    call java -jar "target/deps.clj-%DEPS_CLJ_VERSION%-standalone.jar" "-Sdescribe

- cmd: >-
    choco install windows-sdk-7.1

    call "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd"

    powershell -Command "if (Test-Path('graalvm')) { return } else { (New-Object Net.WebClient).DownloadFile('https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-19.3.0.2/graalvm-ce-java8-windows-amd64-19.3.0.2.zip', 'graalvm.zip') }"

    powershell -Command "if (Test-Path('graalvm')) { return } else { Expand-Archive graalvm.zip graalvm }"

    call script/compile.bat

artifacts:
- path: deps.clj-*-windows-amd64.zip
  name: deps.exe
