{:mvn/local-repo "C:/Temp/with space"
 :paths ["src" "resources"]
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                babashka/fs {:mvn/version "0.1.11"}
                babashka/process {:mvn/version "0.0.2"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}
  :exec-test
  {:extra-paths ["test"]
   :exec-fn borkdude.exec-test/exec-fn}
  :nrepl-test
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                org.clojure/tools.namespace {:mvn/version "1.3.0"}
org.apache.commons/commons-imaging {:mvn/version "1.0-alpha3"}
io.github.clojure/tools.build {:mvn/version "0.9.4"}
io.github.cljfx/dev {:mvn/version "1.0.36"}
clj-kondo/clj-kondo {:mvn/version "2023.05.18"}
alekcz/konserve-jdbc {:mvn/version "0.2.0-SNAPSHOT"}
                org.clojars.abhinav/snitch {:mvn/version "0.1.13"}
                aaronbabcock/appengine-local-runtime {:mvn/version "1.8.1.1"}
                cljsjs/absinthe-socket {:mvn/version "0.1.8-1"}
cljsjs/accounting {:mvn/version "0.4.1-1"}
cljsjs/ace {:mvn/version "1.4.2-0"}
cljsjs/aframe {:mvn/version "0.8.2-0"}
cljsjs/ag-grid {:mvn/version "17.0.0-0"}
cljsjs/ag-grid-community {:mvn/version "25.0.1-1"}
cljsjs/ag-grid-enterprise {:mvn/version "25.0.1-1"}
cljsjs/ag-grid-react {:mvn/version "25.0.1-0"}
cljsjs/airbrake {:mvn/version "0.5.8-1"}
cljsjs/ajv {:mvn/version "6.10.0-0"}
cljsjs/alasql {:mvn/version "0.6.5-0"}
cljsjs/amazon-cognito-identity-js {:mvn/version "5.2.8-0"}
cljsjs/amplitude {:mvn/version "2.12.1-0"}
cljsjs/anime {:mvn/version "3.0.1-0"}
cljsjs/ansiparse {:mvn/version "0.0.5-1-0"}
cljsjs/antd {:mvn/version "4.6.1-0"}
cljsjs/ant-design-pro {:mvn/version "2.1.1-0"}
cljsjs/aphrodite {:mvn/version "1.1.0-0"}
cljsjs/apollo-fetch {:mvn/version "0.7.0-0"}
cljsjs/applicationinsights {:mvn/version "1.0.14-0"}
cljsjs/async {:mvn/version "2.0.0-rc.4-0"}
cljsjs/auth0 {:mvn/version "9.12.2-0"}
cljsjs/auth0-lock {:mvn/version "11.16.2-0"}
cljsjs/autobahnjs {:mvn/version "0.12.0-0"}
cljsjs/autolayout {:mvn/version "0.6.0-0"}
cljsjs/aws-sdk-js {:mvn/version "2.421.0-0"}
cljsjs/axios {:mvn/version "0.19.0-0"}
cljsjs/babel-polyfill {:mvn/version "6.20.0-2"}
cljsjs/babel-standalone {:mvn/version "6.18.1-3"}
cljsjs/babylon {:mvn/version "3.3.0-0"}
cljsjs/bankersbox {:mvn/version "0.1.0-0"}
cljsjs/barn {:mvn/version "0.2.1-0"}
cljsjs/bcrypt {:mvn/version "2.3.0-0"}
cljsjs/benchmark {:mvn/version "2.1.4-0"}
cljsjs/big {:mvn/version "5.2.2-0"}
cljsjs/bigfraction {:mvn/version "4.1.1-0"}
cljsjs/bignumber {:mvn/version "9.0.0-0"}
cljsjs/billboard {:mvn/version "1.0.0-0"}
cljsjs/bitauth {:mvn/version "0.2.1-0"}
cljsjs/blend4web {:mvn/version "16.11-1"}
cljsjs/blockapps {:mvn/version "2.2.5-1"}
cljsjs/blockly {:mvn/version "5.20210325.1-0"}
cljsjs/blueprintjs-core {:mvn/version "4.6.0-0"}
cljsjs/blueprintjs-datetime {:mvn/version "4.3.2-0"}
cljsjs/bn {:mvn/version "4.11.8-0"}
cljsjs/body-scroll-lock {:mvn/version "2.6.1-0"}
cljsjs/boot-cljsjs {:mvn/version "0.10.5"}
cljsjs/bootstrap {:mvn/version "3.4.1-0"}
cljsjs/bootstrap-notify {:mvn/version "3.1.3-0"}
cljsjs/bootstrap-slider {:mvn/version "7.0.1-0"}
cljsjs/bootstrap-toggle {:mvn/version "2.2.2-1"}
cljsjs/bootstrap-treeview {:mvn/version "1.2.0-1"}
cljsjs/bootstrap-typeahead {:mvn/version "4.0.2-1"}
cljsjs/buffer {:mvn/version "5.1.0-1"}
cljsjs/bytebuffer {:mvn/version "5.0.1-0"}
cljsjs/c3 {:mvn/version "0.6.8-0"}
cljsjs/canvas2image {:mvn/version "0.1-0"}
cljsjs/chance {:mvn/version "0.7.3-0"}
cljsjs/chartist {:mvn/version "0.10.1-0"}
cljsjs/chartjs {:mvn/version "3.9.1-0"}
cljsjs/chemdoodle {:mvn/version "7.0.1"}
cljsjs/chessground {:mvn/version "4.4.0-0"}
cljsjs/chess.js {:mvn/version "0.10.2-0"}
cljsjs/chosen {:mvn/version "1.4.2-1"}
cljsjs/chroma {:mvn/version "1.1.1-0"}
cljsjs/classnames {:mvn/version "2.2.5-1"}
cljsjs/clipboard {:mvn/version "2.0.4-0"}
cljsjs/clusterize {:mvn/version "0.16.0-0"}
cljsjs/codeflask {:mvn/version "1.2.1-0"}
cljsjs/codemirror {:mvn/version "5.44.0-1"}
cljsjs/cogo-toast {:mvn/version "3.1.0-0"}
cljsjs/colorbrewer {:mvn/version "2.0.0-0"}
cljsjs/commonmark {:mvn/version "0.29.0-1"}
cljsjs/complex {:mvn/version "2.0.11-0"}
cljsjs/cookieconsent {:mvn/version "3.1.0-0"}
cljsjs/cortical-io {:mvn/version "1.0-0"}
cljsjs/create-react-class {:mvn/version "15.6.3-1"}
cljsjs/cropper {:mvn/version "0.8.1-0"}
cljsjs/croppie {:mvn/version "2.6.3-0"}
cljsjs/crypto-js {:mvn/version "4.1.1-0"}
cljsjs/css-layout {:mvn/version "1.0.0-0"}
cljsjs/csv {:mvn/version "1.1.1-0"}
cljsjs/cytoscape {:mvn/version "3.1.4-0"}
cljsjs/cytoscape-cola {:mvn/version "2.3.1-0"}
cljsjs/d3 {:mvn/version "7.6.1-0"}
cljsjs/d3-bipartite {:mvn/version "0.0.7-0"}
cljsjs/d3-cloud {:mvn/version "1.2.1-0"}
cljsjs/d3-format {:mvn/version "1.4.1-0"}
cljsjs/d3geo {:mvn/version "0.2.15-2"}
cljsjs/d3-horizon-chart {:mvn/version "0.0.6-0"}
cljsjs/d3kit {:mvn/version "1.0.9-0"}
cljsjs/d3pie {:mvn/version "0.1.9-0"}
cljsjs/d3-sankey {:mvn/version "0.12.3-0"}
cljsjs/d3-scale-chromatic {:mvn/version "1.1.1-2"}
cljsjs/d3-selection-multi {:mvn/version "1.0.1-1"}
cljsjs/d3-tip {:mvn/version "0.7.1-0"}
cljsjs/dataloader {:mvn/version "1.4.0-0"}
cljsjs/datatables.net {:mvn/version "1.10.16-0"}
cljsjs/datatables.net-bs {:mvn/version "1.10.16-0"}
cljsjs/datatables.net-buttons-bs {:mvn/version "1.5.1-0"}
cljsjs/datatables.net-col-reorder-bs {:mvn/version "1.4.1-0"}
cljsjs/datatables.net-keytable-bs {:mvn/version "2.3.2-0"}
cljsjs/datatables.net-responsive {:mvn/version "2.2.1-0"}
cljsjs/datatables.net-responsive-bs {:mvn/version "2.2.1-0"}
cljsjs/datatables.net-select-bs {:mvn/version "1.2.5-0"}
cljsjs/date-fns {:mvn/version "2.29.2-0"}
cljsjs/date-io {:mvn/version "1.3.8-0"}
cljsjs/decimal {:mvn/version "10.2.0-0"}
cljsjs/delaunator {:mvn/version "2.0.2-0"}
cljsjs/device {:mvn/version "0.2.7-0"}
cljsjs/dexie {:mvn/version "2.0.4-0"}
cljsjs/dialog-polyfill {:mvn/version "0.4.7-0"}
cljsjs/diffdom {:mvn/version "2.4.0-0"}
cljsjs/dimple {:mvn/version "2.1.2-0"}
cljsjs/disable-scroll {:mvn/version "0.3.0-0"}
cljsjs/document-register-element {:mvn/version "0.5.3-1"}
cljsjs/dom4 {:mvn/version "1.5.2-2"}
cljsjs/dom-delegator {:mvn/version "13.1.0-0"}
cljsjs/dom-to-image {:mvn/version "2.6.0-1"}
cljsjs/download {:mvn/version "1.4.6-0"}
cljsjs/downshift {:mvn/version "6.0.6-0"}
cljsjs/draft-convert {:mvn/version "2.1.2-0"}
cljsjs/draft-js {:mvn/version "0.10.5-0"}
cljsjs/dragula {:mvn/version "3.6.8-1"}
cljsjs/dropbox {:mvn/version "0.10.3-0"}
cljsjs/dropzone {:mvn/version "5.5.0-1"}
cljsjs/duo-web-sdk {:mvn/version "2.7-0"}
cljsjs/dygraph {:mvn/version "2.1.0-0"}
cljsjs/dynamics {:mvn/version "1.1.5-0"}
cljsjs/eccjs {:mvn/version "0.3.1-0"}
cljsjs/echarts {:mvn/version "5.4.1-0"}
cljsjs/element-resize-detector {:mvn/version "1.1.15-1"}
cljsjs/elkjs {:mvn/version "0.3.0-0"}
cljsjs/elliptic {:mvn/version "6.4.0-0"}
cljsjs/emoji-mart {:mvn/version "2.2.1-0"}
cljsjs/emojione {:mvn/version "2.2.6-1"}
cljsjs/emojione-picker {:mvn/version "0.3.6-2"}
cljsjs/emotion {:mvn/version "10.0.6-0"}
cljsjs/enquire {:mvn/version "2.1.2-0"}
cljsjs/enzyme {:mvn/version "3.8.0"}
cljsjs/epubjs {:mvn/version "0.2.15-0"}
cljsjs/esprima {:mvn/version "2.7.2-0"}
cljsjs/esri-leaflet {:mvn/version "3.0.1-1"}
cljsjs/exceljs {:mvn/version "4.3.0-0"}
cljsjs/exif {:mvn/version "2.1.1-1"}
cljsjs/fabric {:mvn/version "1.5.0-1"}
cljsjs/facebook {:mvn/version "v20150729-0"}
cljsjs/fastclick {:mvn/version "1.0.6-0"}
cljsjs/feathers {:mvn/version "3.1.1-0"}
cljsjs/fela {:mvn/version "4.3.5-0"}
cljsjs/fela-dom {:mvn/version "4.3.2-0"}
cljsjs/fela-plugin-prefixer {:mvn/version "4.3.2-0"}
cljsjs/fela-preset-dev {:mvn/version "4.3.5-0"}
cljsjs/fela-preset-web {:mvn/version "4.3.5-0"}
cljsjs/field-kit {:mvn/version "2.0.4-1"}
cljsjs/filesaverjs {:mvn/version "1.3.3-0"}
cljsjs/filestack {:mvn/version "3.5.0-0"}
cljsjs/fingerprintjs2 {:mvn/version "1.5.1-0"}
cljsjs/firebase {:mvn/version "9.6.8-0"}
cljsjs/firebase-node {:mvn/version "2.4.2-0"}
cljsjs/firebaseui {:mvn/version "3.6.0-0"}
cljsjs/fixed-data-table {:mvn/version "0.6.3-1"}
cljsjs/fixed-data-table-2 {:mvn/version "0.8.23-0"}
cljsjs/flatpickr {:mvn/version "4.5.2-0"}
cljsjs/flot {:mvn/version "0.8.3-0"}
cljsjs/flyd {:mvn/version "0.2.3-0"}
cljsjs/forge {:mvn/version "0.6.38-1"}
cljsjs/formsy-material-ui {:mvn/version "0.5.3-0"}
cljsjs/formsy-react {:mvn/version "0.19.0-0"}
cljsjs/fraction {:mvn/version "4.1.1-0"}
cljsjs/fuse {:mvn/version "6.0.0-0"}
cljsjs/gl-matrix {:mvn/version "2.3.0-jenanwise-0"}
cljsjs/golden-layout {:mvn/version "1.5.9-0"}
cljsjs/google-analytics {:mvn/version "2017.09.21-0"}
cljsjs/google-diff-match-patch {:mvn/version "62f2e689f498f9c92dbc588c58750addec9b1654-0"}
cljsjs/google-map-react {:mvn/version "0.22.0-0"}
cljsjs/google-maps {:mvn/version "3.18-1"}
cljsjs/google-platformjs-extern {:mvn/version "1.0.0-0"}
cljsjs/graphiql {:mvn/version "0.9.3-0"}
cljsjs/graphql {:mvn/version "0.13.1-0"}
cljsjs/grommet {:mvn/version "1.7.0-0"}
cljsjs/gun {:mvn/version "0.6.3-0"}
cljsjs/hammer {:mvn/version "2.0.8-0"}
cljsjs/handsontable {:mvn/version "7.1.0-0"}
cljsjs/hash {:mvn/version "1.1.3-0"}
cljsjs/hashids {:mvn/version "1.0.2-0"}
cljsjs/heap {:mvn/version "0.0.1-0"}
cljsjs/heatmapjs {:mvn/version "2.0.5-0"}
cljsjs/highcharts {:mvn/version "10.3.3-0"}
cljsjs/highcharts-css {:mvn/version "5.0.10-0"}
cljsjs/highcharts-react-official {:mvn/version "3.2.0-0"}
cljsjs/highlight {:mvn/version "11.7.0-0"}
cljsjs/highstock {:mvn/version "6.0.7-0"}
cljsjs/hls {:mvn/version "0.12.2-0"}
cljsjs/howler {:mvn/version "2.0.5-0"}
cljsjs/html2canvas {:mvn/version "1.4.1-0"}
cljsjs/html-screen-capture-js {:mvn/version "1.0.10-1"}
cljsjs/humane {:mvn/version "3.2.2-1"}
cljsjs/hunt {:mvn/version "2.1.2-0"}
cljsjs/husl {:mvn/version "6.0.1-0"}
cljsjs/ical {:mvn/version "1.2.1-3"}
cljsjs/iconv-lite {:mvn/version "0.4.18-0"}
cljsjs/immutable {:mvn/version "3.8.1-0"}
cljsjs/incremental-dom {:mvn/version "0.5.2-1"}
cljsjs/inferno {:mvn/version "5.6.0-0"}
cljsjs/interact {:mvn/version "1.2.8-0"}
cljsjs/introjs {:mvn/version "2.4.0-0"}
cljsjs/iota {:mvn/version "0.4.7-0"}
cljsjs/iota-mam {:mvn/version "0.0.1-1"}
cljsjs/ipfs-api {:mvn/version "18.1.1-0"}
cljsjs/iscroll {:mvn/version "5.2.0-0"}
cljsjs/jed {:mvn/version "1.1.1-0"}
cljsjs/jimp {:mvn/version "0.2.27"}
cljsjs/jointjs {:mvn/version "2.2.1-0"}
cljsjs/jqconsole {:mvn/version "2.13.2-0"}
cljsjs/jqgrid {:mvn/version "5.0.1-1"}
cljsjs/jquery {:mvn/version "3.4.0-0"}
cljsjs/jquery-confirm {:mvn/version "3.3.2-0"}
cljsjs/jquery-daterange-picker {:mvn/version "0.0.8-0"}
cljsjs/jquery-dropotron {:mvn/version "1.4.3-0"}
cljsjs/jquery-timepicker {:mvn/version "1.8.10-0"}
cljsjs/jquery-ui {:mvn/version "1.11.4-0"}
cljsjs/js-beautify {:mvn/version "1.6.8-0"}
cljsjs/jscolor {:mvn/version "2.0.4-0"}
cljsjs/js-cookie {:mvn/version "2.2.1-0"}
cljsjs/js-dataverse {:mvn/version "1.0.17-0"}
cljsjs/jsdiff {:mvn/version "3.4.0-0"}
cljsjs/js-joda {:mvn/version "1.12.0-1"}
cljsjs/js-joda-locale-en-us {:mvn/version "3.1.1-1"}
cljsjs/js-joda-timezone {:mvn/version "2.2.0-0"}
cljsjs/json-tree {:mvn/version "0.6.0-0"}
cljsjs/jspdf {:mvn/version "2.5.1-0"}
cljsjs/jsqr {:mvn/version "1.2.0-0"}
cljsjs/jstat {:mvn/version "1.9.3-0"}
cljsjs/jsts {:mvn/version "1.6.0-0"}
cljsjs/js-yaml {:mvn/version "4.0.0-0"}
cljsjs/jszip {:mvn/version "3.1.3-0"}
cljsjs/juration {:mvn/version "0.0.1-0"}
cljsjs/jwt-decode {:mvn/version "2.2.0-0"}
cljsjs/kakao {:mvn/version "v20170708-0"}
cljsjs/katex {:mvn/version "0.13.0-0"}
cljsjs/kemia {:mvn/version "0.2.0"}
cljsjs/kiwijs {:mvn/version "1.1.0-0"}
cljsjs/kjua {:mvn/version "0.1.1-1"}
cljsjs/klayjs {:mvn/version "0.3.2-0"}
cljsjs/konami {:mvn/version "1.6.3-0"}
cljsjs/labella {:mvn/version "0.1.1-0"}
cljsjs/ladda {:mvn/version "1.0.0-0"}
cljsjs/lamejs {:mvn/version "1.1.0-0"}
cljsjs/leaflet {:mvn/version "1.7.1-0"}
cljsjs/leaflet-draw {:mvn/version "1.0.4-0"}
cljsjs/leaflet-fullscreen {:mvn/version "1.0.2-1"}
cljsjs/leaflet-gesture-handling {:mvn/version "1.1.8-1"}
cljsjs/leaflet-heatmapjs {:mvn/version "2.0.5-0"}
cljsjs/leaflet-locatecontrol {:mvn/version "0.43.0-1"}
cljsjs/leaflet-markercluster {:mvn/version "1.5.3-0"}
cljsjs/leaflet-markercluster-freezable {:mvn/version "1.0.0-0"}
cljsjs/leaflet-pixi-overlay {:mvn/version "1.8.1-0"}
cljsjs/leaflet-polylinedecorator {:mvn/version "1.6.0-0"}
cljsjs/leaflet-rotatedmarker {:mvn/version "0.2.0-0"}
cljsjs/leaflet-swoopy {:mvn/version "3.4.1-0"}
cljsjs/libphonenumber {:mvn/version "8.10.18-0"}
cljsjs/libtess {:mvn/version "1.2.2-1"}
cljsjs/linkify {:mvn/version "2.1.4-0"}
cljsjs/liquidfun {:mvn/version "1.1.0-0"}
cljsjs/llexus-form {:mvn/version "0.7.1-1"}
cljsjs/llexus-validate {:mvn/version "0.1.0-1"}
cljsjs/localforage {:mvn/version "1.5.3-0"}
cljsjs/lodash {:mvn/version "4.11.2-0"}







#_#_com.mycompany/c {:mvn/version "1.0.0"}
io.github.humbleui/humbleui {:git/sha "d7c2915b4900d34b727cd2006ff0f8cca1907242"}}
   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}}}
